

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



.radios .radio{
    background-color:#c5e043;
    display:inline-block;
    width:100px;
    height:100px
}

.radio {
    display: table-cell;
}

.radios input[type=radio]{
    display:none
}

.radios input[type=radio]:checked + .radio{
    background-color:#241009
}













